.content {
  width: 100%;
}
.pagination{
  float: right;
}
.app-227{
  margin: 2%;
}
.excel{
  float: right;
  margin: 3%;
}.btn-file {
   position: relative;
   overflow: hidden;
 }
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.errors{color:#dc3545;font-size:90%;}
input.ng-touched.ng-invalid{border-color: #dc3545;box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);}
select.ng-touched.ng-invalid{border-color: #dc3545;box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);}
