.content {
  width: 100%;
}
.pagination{
  float: right;
}
.app-227{
  margin: 2%;
}
app-documents{
  width: 100%;
}
.filter-ds{
  margin: 2%;
}
.filter-ds label{
  padding-right: 5px;
  padding-left: 5px;
  font-weight: bold;
}
tr, td{
  cursor: pointer;
}