.checkbox {
  padding-left: 20px; }
.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px; }

.note-hpcall{
  display: none;
}
textarea{
  border: 1px solid gainsboro;
  border-radius: 10px;
  width: 100%;
}
.checkbox {
  display: inline-table;
}
hr{
  margin: 1%;
}
.checkbox.checkbox-primary {
  margin-right: 7%;
}
input[type='checkbox'] {
  margin-top: -30px;
}

input[type='checkbox'] {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  width: 13px;
  height: 13px;
  margin: 0;
  margin-right: 1px;
  display: block;
  float: left;
  position: relative;
  cursor: pointer;
}

input[type='checkbox']:after {
  content: "";
  vertical-align: middle;
  text-align: center;
  line-height: 13px;
  position: absolute;
  cursor: pointer;
  height: 17px;
  width: 17px;
  left: 0;
  top: 0;
  font-size: 15px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

input[type='checkbox']:checked:after {
  font-family: 'FontAwesome';
  content: "\f00c";
  background-color: white;
  color: #5bc0de;

}
