.content {
  width: 100%;
}
.pagination{
  float: right;
}
.app-227{
  margin: 2%;
}
.excel input[type=file] {
  opacity: 1;
  cursor: inherit;
  display: none;
}
.excel{
  float: right;
  margin: 3%;
}
.btn-file {
   position: relative;
   overflow: hidden;
}