.errors{color:#dc3545;font-size:90%;}
input.ng-touched.ng-invalid{border-color: #dc3545;box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);}
select.ng-touched.ng-invalid{border-color: #dc3545;box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);}
